/* =======================
   HEADER SECTION STYLES
   ======================= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 4.8rem 4rem;
}

.logo {
  height: 2.2rem;
}

/* =======================
   NAVIGATION SECTION STYLES
   ======================= */
.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;
  transition: all 0.2s;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
}

.main-nav-list li:last-child .main-nav-link {
  color: white;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
  text-decoration: none;
}

.nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
}

/* =======================
   HERO SECTION STYLES
   ======================= */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

/* =======================
   IMAGES & ICONS
   ======================= */
.hero-img {
  width: 100%;
}

.delivered-imgs img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-right: -1.8rem;
  border: 3px solid #fdf2e9;
}

/* =======================
   DELIVERED MEALS
   ======================= */
.delivered-meals {
  display: flex;
  margin-top: -19rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-faces {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 800;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* =======================
   How it Works Section
   ======================= */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  position: absolute;
  content: "";
  display: block;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  margin-bottom: 1.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  z-index: -1;
}

.step-img-box::after {
  padding-bottom: 45%;
  width: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.diets .list {
  margin-top: 5.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
